.filter-wrapper {
  background-color: rgb(231, 231, 223);
  border: 1px solid rgb(197, 181, 181);
  display: flex;
  flex-direction: column;
  > div {
    padding: 5px 20px;
    margin-bottom: 12px;
  }
}
.filter-title {
  background-color: blue;
  padding: 10px;
  color: rgb(206, 199, 199);
  margin-bottom: 20px;
}
.select {
  display: block;
  height: 40px;
  border: 1px solid wheat;
  width: 100%;
}
