.products-wrapper {
  display: flex;
  justify-content: space-between;
}
.products-wrapper .product-item {
  width: 24%;
}
.products-wrapper .product-item img {
  width: 100%;
  height: 150px;
  padding: 2px;
  border: 1px solid indianred;
}
.products-wrapper .product-item .product-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px 0;
}
.products-wrapper .product-item button {
  display: block;
  width: 100%;
  border: 0;
  background: blue;
  color: azure;
  padding: 7px;
  margin-top: 8px;
  border-radius: 6px;
}

.product-info img {
  display: block;
  height: 60%;
  width: 40%;
  margin: auto;
}
.product-info p {
  color: blue;
  font-size: 20px;
  margin: 10 0;
  text-align: center;
}

.details-maodal {
  width: 20%;
  height: 40%;
}